body {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

nav,
footer {
  opacity: 0.95;
}

.navbar {
  padding-top: 10px !important;
}

main {
  position: relative;
  padding-bottom: 66px;
}

.main-container {
  background-image: url("../img/clear-sky-slate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

aside {
  width: 370px;
  font-size: 16px;
  z-index: 0;
}

.aside-container {
  padding: 25px;
  border: 2px solid #b2b3b4;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgba(33, 37, 41, 0.8);
}

.current-weather,
.current-weather-status,
.sun-cycles {
  border-bottom: 1px solid #b2b3b4;
}

.sun-cycles {
  gap: 50px;
}

.day1-container,
.day2-container,
.day3-container {
  border: 1px solid #b2b3b4;
  border-radius: 5px;
  padding: 10px;
}

.fwi {
  width: 35px;
}

.fwi img {
  max-width: 100%;
}

.temp {
  color: #128cba;
}

.cloud-icon,
.humidity-icon {
  filter: opacity(0.5) drop-shadow(1px 1px 1px #128cba);
}

.sunrise-icon,
.sunset-icon,
.location-icon {
  filter: opacity(0.5) drop-shadow(1px 1px 1px #f58733);
}

.sunset-icon {
  scale: 0.95;
}

.cloud-icon img,
.humidity-icon img {
  width: 20px;
}

.weather-status {
  color: #128cba;
}

.max-temp-container {
  color: #f58733;
}

.min-temp-container {
  color: #128cba;
}

.max-temp-icon,
.min-temp-icon {
  width: 15px;
}

.forecast-max-temp-value1,
.forecast-max-temp-value2,
.forecast-max-temp-value3 {
  color: #f58733;
}

.forecast-min-temp-value1,
.forecast-min-temp-value2,
.forecast-min-temp-value3 {
  color: #128cba;
}

footer {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

.copyright {
  color: #b2b3b4;
  font-size: 12px;
  margin-top: 10px !important;
}

.weather-guru-logo {
  width: 150px;
}

.white {
  color: #fff !important;
}

.nodeco {
  text-decoration: none;
}

.userInput {
  height: 50px;
}

.navbar-toggler {
  border-color: #128cba;
}

.height16 {
  height: 16px;
}

.height20 {
  height: 20px;
}

.height30 {
  height: 30px;
}

.size48 {
  font-size: 48px;
  line-height: 48px;
}

.size64 {
  font-size: 64px;
  line-height: 64px;
}

.size16 {
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 640px) {
  aside {
    width: 450px;
    font-size: 20px;
  }

  .city {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) {
  .navbar,
  .footer-contact {
    font-size: 20px;
  }

  aside {
    scale: 1.1;
  }

  .aside-container {
    padding: 35px;
  }

  .cloud-icon img,
  .humidity-icon img {
    width: 25px;
  }

  .copyright {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  aside {
    scale: 1.2;
  }

  .current-temp-value {
    font-size: 60px;
  }

  .aside-container {
    padding: 50px;
  }

  .cloud-icon,
  .humidity-icon {
    width: 50px;
  }

  .cloud-icon img,
  .humidity-icon img {
    width: 100%;
  }
}
