header,
main,
footer {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  color: #09465d !important;
  background-color: #dfe0e1;
}

.nav-wrapper {
  background-color: #dfe0e1;
}

.navbar-toggler {
  padding: 0px 2px 0px 2px;
}

.navbar-brand,
.footer-brand {
  max-width: 150px;
}

.navbar-brand img,
.footer-brand img {
  width: 100%;
}

.weather-guru-logo {
  width: 100%;
  object-fit: contain;
}

.nav-link {
  color: #128cba;
}

.nav-link.active {
  color: #f58733 !important;
}

.title-selection {
  color: #f58733;
}

.subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #128cba;
}

.main-container {
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
}

.main-container::before {
  position: absolute;
  content: "";
  background-image: url("../img/hero-background-sm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.hero-content {
  font-size: 14px;
  line-height: 1.8;
}

.height16 {
  height: 16px;
}

.height20 {
  height: 20px;
}

.height30 {
  height: 30px;
}

.size48 {
  font-size: 48px;
  line-height: 48px;
}

.size64 {
  font-size: 64px;
  line-height: 64px;
}

.size16 {
  font-size: 16px;
  line-height: 24px;
}

.aside-container {
  padding: 25px;
  border: 2px solid #b2b3b4;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.current-weather,
.current-weather-status,
.sun-cycles {
  border-bottom: 1px solid #b2b3b4;
}

.sun-cycles {
  gap: 50px;
}

.day1-container,
.day2-container,
.day3-container {
  border: 1px solid #09465d;
  border-radius: 5px;
  padding: 10px;
}

.fwi {
  width: 35px;
}

.fwi img {
  max-width: 100%;
}

.temp {
  color: #128cba;
}

.cloud-icon,
.humidity-icon {
  filter: opacity(0.8) drop-shadow(0 0 0 #128cba);
}

.weather-status {
  color: #128cba;
}

.max-temp-container {
  color: #f58733;
}

.min-temp-container {
  color: #128cba;
}

.max-temp-icon,
.min-temp-icon {
  width: 15px;
}

.forecast-max-temp-value1,
.forecast-max-temp-value2,
.forecast-max-temp-value3 {
  color: #f58733;
}

.forecast-min-temp-value1,
.forecast-min-temp-value2,
.forecast-min-temp-value3 {
  color: #128cba;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 0px;
  gap: 48px;
  font-size: 14px;
}

.footer-left {
  max-width: 500px;
}

.footer-left img {
  max-width: 150px;
  margin-bottom: 16px;
}

.footer-right {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding-left: 0px;
}

.footer-links li {
  display: inline-block;
}

.footer-links li a {
  text-decoration: none;
  color: #128cba;
}

.footer-item {
  font-size: 16px;
}

@media (min-width: 576px) {
  .navbar-brand,
  .footer-brand {
    max-width: 200px;
  }

  .navbar-toggler {
    padding: 4px 12px;
  }
}

@media (min-width: 850px) {
  .hero-section {
    width: 50%;
    padding-right: 50px;
  }

  .main-container {
    flex-wrap: nowrap !important;
  }
}
